*{
	margin: 0;
	padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navigation{
	font-size: 20px;
	font-family: 'comfortaa';
	padding: none;
	font-weight: 100px;
	float: right;

}

ul, li, a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-family: 'Comfortaa';
    color: white;
    font-size: 20px;
	font-weight: 100px;
    letter-spacing: 3px;
}

.container{
	height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    animation: slideshow 15s infinite; 
}

@keyframes slideshow1 {
    0%, 100% {
        background-image: url(img/eastblue.jpg);
        background-position: 100% 0; 
    }
    16.666% {
        background-image: url(img/timeskip.jpg);
        background-position: 0 0; 
    }
    33.333% {
        background-image: url(img/wano.jpe);
        background-position: 100% 0; 
    }
    50% {
        background-image: url(img/wano\ fight.jpg);
        background-position: 0 0; 
    }
    66.666% {
        background-image: url(img/onigashima.png);
        background-position: 100% 0; 
    }
    83.333% {
        background-image: url(img/gear5.png);
        background-position: 0 0; 
    }
}

.content{
	height: 400px;
	width: 800px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.text-1{
	font-family: 'one_pieceregular';
	font-weight: normal;
	font-size: 180px;
	color: white;
	letter-spacing: 10px;
}

@font-face {
    font-family: 'one_pieceregular';
    src: url('font/one_piece_font-webfont.woff2') format('woff2'),
         url('font/one_piece_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.tx{
	font-size: 30px;
	color: white;
	padding-bottom: 14px;
	font-family: 'Montserrat';
}

nav {
  float: right;
}

li {
  transition: 0.5s; 
}

ul:hover li {
  filter: blur(5px);
}

ul li:hover {
  filter: blur(0px);
}

.container_middle{
    height: 100vh;
    width: 100vw;

    display: flex;
    grid-gap: 20px;

	margin-top: 20px;
	margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
	border-radius: 50px;
}

.oda{
	max-height: 70%;
    max-width: 100%;
    align-items: center;
    margin-top: 80px;
    margin-right: 120px;
}

.author {
    font-family: 'Montserrat';
    font-size: 28px;
    color: black;
    font-style: bold;
    font-weight: bolder;
    align-items: center; 
    margin-bottom: 400px;
    justify-content: center;
    text-decoration: underline;
    position: absolute;
    line-height: 20px;
    letter-spacing: 3px;
}

.authortxt{
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: left;
    white-space: pre-line;
    color: black;
	padding: 10px;
    margin-top: 100px; 
    margin-left: -20px;
    letter-spacing: 2px; 
}

.pic_center{
	height: 400px;
	width: 284px;
}

.text2{
	font-family: arial;
	text-align: justify;
}

*{
	padding: 0;
	margin: 0;
}

.container_second {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: gray;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding: 20px;
  }
  
  .description {
	flex: 1;
	padding: 20px;
	font-family: 'Montserrat';
	font-size: 16px;
	color: white;
	line-height: 28px;
  }
  
  .strawhats {
	flex: 1;
	max-height: 62%;
	max-width: 100%;
	margin-right: 90px;
	border-radius: 25px;
  }

.THIRD_CONTENT {
    height: 90vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
	position: relative;
}

.THIRD_CONTENT::before {
    content: '';
    background-image: url('img/map.webp');
    opacity: 0.5; /* Adjust the opacity (0.5) to control visibility */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.top-row, .bottom-row {
    display: flex;
	padding: 20px;
    grid-gap: 40px;
    justify-content: center;
}

.box-4, .box-ext {
    height: 320px;
    width: 220px;
    border: 10px solid lightgray;
	border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.pict, .pictext {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pict-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    background-color: gray;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.footer {
	height: auto;
	display: flex;
	flex-direction: row;
    justify-content: center;
	align-items: center;
	background-color: black;
}

.onepiece {
    font-family: 'one_pieceregular';
    font-size: 60px;
    color: white;
    letter-spacing: 3px;
	margin: 40px;
}

.socials {
    width: 50px;
    height: 50px;
    margin: 0;
    padding-right: 10px;
}

.socials a {
    margin: 0;
    padding-right: 10px;
}

.socials img {
    margin-left: 50px;
    margin: 0;
    padding-right: 10px;
    
}